# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/GiaoDienPhim/PhimChieuRap/.vs/ManagementCinema/FileContentIndex
/.vs
/GiaoDienPhim/PhimChieuRap/.vs/ManagementCinema/v17
/GiaoDienPhim/PhimChieuRap/x64/Debug
/GiaoDienPhim/PhimChieuRap/HinhAnh/.vs/HinhAnh
/GiaoDienPhim/PhimChieuRap/HinhAnh/.vs
